<div class="d-flex justify-content-center align-items-center flex-column w-100 bg-tertiary det">
    <div class="d-flex justify-content-between align-items-center w-100 mb-2 p-3">
        <div class="w-25 about">
            <p>Your one-stop online shopping destination for quick, convenient, and hassle-free purchases. Discover, click, and shop with ease today!</p>
            <span><i class="fa-solid fa-heart text-danger me-2"></i>Love from swiftBuy</span>
        </div>
        <div class="w-25 ">
            <div class="d-flex  flex-column ">
                <h6>Pages</h6>
                <a style="text-decoration: none;color: black;" routerLink="">Home</a>
                <a style="text-decoration: none;color: black;"  routerLink="/wishlist">Wishlist</a>
                <a style="text-decoration: none;color: black;"  routerLink="/cart">Cart</a>

            </div>
        </div>
        <div class="w-25">
            <h6>Mail us</h6>
           <div class="">
                <h6>SwiftBuy private limited,</h6>
                <h6>Prime buildings anengous,Mumbai</h6>
                <h6>pin:105774</h6>
           </div>
        </div>
        <div class="me-3">
            <h6>About</h6>
            <div class="d-flex  flex-column ">
                <a style="text-decoration: none;color: black;" routerLink="">Contact us</a>
                <a style="text-decoration: none;color: black;"  routerLink="/wishlist">career</a>
                <a style="text-decoration: none;color: black;"  routerLink="/cart">Our stories</a>

            </div>
        </div>
    </div>
    <p>All rights reserved @2024</p>
</div>